body {
  width: 90%;
  margin: auto;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#icon {
  display: flex;
  align-items: center;
}

.hr {
  background: url(img/hr-img.png) repeat;
  height: 10px;
}

#recipe {
  display: flex;
  justify-content: space-around;
  background: url(img/list-bg.png);
}

#title {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#print-button {
  align-self: flex-end;
}